@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --light-salmon: rgb(242, 169, 161);
}

body {
  background-color: var(--light-salmon);
}

main {
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  text-align: justify;
  text-justify: auto;
  
}

.header__title,
.section__heading {
  font-family: 'Fjalla One', sans-serif;
}

.project__image {
  max-width: 80%;
  padding: 0.5rem
}

.tech-list {
  list-style: none;
}

.drawer {
  transition: max-height 0.2s ease-out;
}

.drawer__title {
  display: inline;
}
.drawer__arrow {
  width: 20px;
  height: auto;
  /* position: absolute; */
  float: right;
}

.drawer__arrow:hover {
  cursor: pointer;
}

.drawer__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.open-drawer {
  display: block;
}
